body {
    text-align:  center; 
    font-family: cursive;
    background-color: #f54257; 
    font-size: x-large; 
    color: white;
    margin: 0;
}
#tempolabel {
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-right: 0px;
}

#tempo {
    border-left: 0px;
}

#startButton:active {
    background: #d86a75;
}
#startButton {
    transition: transform ease 50ms;
}

.interface {
    font-size: 19px;
    font-family: cursive;
    background-color:#f57682;
    border: 2px solid #fff;
    color: #fff;
}
#tstext {
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-right: 0px;
}
#ts {
    border-left: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 4px;

}
#ts:focus {
    background-color:#d86a75;
    border-bottom: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
}
#ts:hover {
    box-shadow: none;
    outline: none;
    appearance: none;
    background-color:#d86a75;
}
#startButton:hover {
    transform:scale(1.1);
}
#title {
    background-color:#f57682;
    border: 5px solid #fff;
    border-left: 0px;
    border-right: 0px;
    width: 100vw;
    transform: translateY(-40px);
    padding-top: 5px;
}
#startButton {
    font-size:30px;
    border: 2px solid #fff;
    cursor:pointer;
    border-radius:4px;
}
#randomcat {
    border: 5px solid #fff;
    transition: ease 50ms;
    user-select: none;
    -webkit-user-drag: none;
    cursor:pointer;
}
#randomcat:hover {
    transform:scale(1.05);
}
#randomcat:active {
    border-color: #ddd;

}
.button:hover {
    transform:scale(1.05);
}
.button {
    transition: ease 50ms;
    width: 164px;
    cursor:pointer;
    border-radius:4px;
}
.button:active {
    background-color:#d86a75;
}
#volumeSlider {
    -webkit-appearance:none;
    appearance:none;
    outline:none;
    writing-mode:sideways-lr;
    border-radius:4px;
    border: 2px solid white;
    accent-color: #f57682;
    background-color: #ffffff;

}
#volumeSlider::-webkit-file-upload-button:hover {
    transform:scale(1.05);
}
.button img {
    height: 21px;
    width: auto;
    padding-right: 4px;
    transform: translateY(2px);
}
#chooseSound {
    padding-left: 3px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right: 3px;
    font-size: 24px;
    display:flex;
    align-items: center;
    height:40px;
    position:absolute;
    right:50%;
    transform: translateX(-43%);
}

#chooseSound img {
    height: 33px;
    width: auto;
    padding-right: 7px;
}
#buttonbox {
    border:2px solid #fff;
    width: 166px;
    justify-self: center;
    padding:2px;
    padding-right:0px;
    display:flex;
    flex-direction:column;
    gap: 2px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
#soundSettings {
    display:flex;
    position:relative;
    align-items:center;
    gap: 20px;
    justify-content: center;
    height:180px;
}
#volumeSettings {
    position:absolute;
    left:50%;
    transform: translateX(150%);
    display:flex;
    flex-direction: column;
    align-items:center;
}
#volumeText {
    padding-left: 2px;
    padding-right: 2px;
}