body {
    text-align:  center; 
    font-family: cursive;
    background-color: #f54257; 
    font-size: x-large; 
    color: white;
    margin: 0;
}
#tempolabel {
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-right: 0px;
}

#tempo {
    border-left: 0px;
}

#startButton:active {
    background: #d86a75;
}
#startButton {
    transition: transform ease 50ms;
}

.interface {
    font-size: 19px;
    font-family: cursive;
    background-color:#f57682;
    border: 2px solid #fff;
    color: #fff;
}
#tstext {
    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-right: 0px;
}
#ts {
    border-left: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    padding-left: 4px;

}
#ts:focus {
    background-color:#d86a75;
    border-bottom: 0px;
    box-shadow: none;
    outline: none;
    appearance: none;
}
#ts:hover {
    box-shadow: none;
    outline: none;
    appearance: none;
    background-color:#d86a75;
}
#startButton:hover {
    transform:scale(1.1);
}
#title {
    background-color:#f57682;
    border: 5px solid #fff;
    border-left: 0px;
    border-right: 0px;
    width: 100vw;
    transform: translateY(-40px);
    padding-top: 5px;
}
#startButton {
    font-size:30px;
    border: 2px solid #fff;
}
#randomcat {
    border: 5px solid #fff;
    transition: ease 50ms;
    user-select: none;
    -webkit-user-drag: none;
}
#randomcat:hover {
    transform:scale(1.05);
}
#randomcat:active {
    border-color: #ddd;

}
.button:hover {
    transform:scale(1.05);
}
.button {
    transition: ease 50ms;
    width: 140px
}
.button:active {
    background-color:#d86a75;
}
#buttonbox {
    border:2px solid #fff;
    width: 144px;
    margin: auto;
    padding-bottom:2px;
}
#coolline {
    border: 1px solid #fff;
    inline-size: 50px;
    position: absolute;
    transform: translateY(60px) translateX(257px);
}
#chooseSound {
    position:absolute;
    padding-left: 3px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right: 3px;
    transform:translateY(53px) translateX(-351px);
    font-size: 24px;
}